@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px

*/

@media print {
    body {
        background-image: url('../imagens/back-print.jpg'); /* Desnecessário, pois não imprime */
        font-family: 'Courier New', Courier, monospace;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {
        display: none;
    }

    img#print {
        display: block;
    }
}

/* NOTA: Os primeiros DOIS breakpoints serão ignorados e iremos fazer a partir de telas de Tablet, pois o primeiro style feito com media ALL é o estilo de mobile first, que atenderá às telas pequenas (Pequenas telas e Celulares). */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    main {
        width: 550px;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    main {
        width: 650px;
    }

    img#phone {
        display: none;
    }

    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    main {
        width: 810px;
    }

    img#phone {
        display: none;
    }

    img#tv {
        display: block;
    }
}